<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
			<link href="css/editProduct.css" rel="stylesheet" type="text/css">
		</header>
	</div>
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Editar Producto</h1>
				<div class="container">

					<div class="form-group" id="imagenProducto">
						<div class="file-input">
						<!-- ko with : producto -->
							<!-- ko if : image -->
								<img data-bind="attr: { src : image}" id="foton">
							<!-- /ko -->
						<!-- /ko -->
							<br /> 
							<input type="file" id="file" class="file" data-bind="event : {change : setImage }"> 
							<label for="file">Select file</label>		
						</div>
					</div>
					
					<div class="form-group" id="datosProducto">
					<!-- ko with : producto -->
						<label class="col-lg-3 control-label">Nombre:</label>
						<div class="col-lg-8">
							<input  class="form-control productos" size="50" id="nombreProducto"
								type="text" data-bind="value : nombre">
						</div>
						<br /> <label class="col-lg-3 control-label">Codigo:</label>
						<div class="col-lg-8">
							<input class="form-control productos" size="50" id="codigoProducto"
								type="text" data-bind="value : codigo">
						</div>
						<br /> <label class="col-lg-3 control-label">Precio:</label>
						<div class="col-lg-8">
							<input onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control productos" size="50" id="precioProducto"
								type="text" data-bind="value : precio">
								<input style="visibility: hidden" class="form-control productos" id="idProducto"
								type="text" data-bind="value : id">
						</div>
						<label class="col-lg-3 control-label">Stock:</label>
						<div class="col-lg-8">
							<input onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control productos" size="50" id="stockProducto"
								type="text" data-bind="value : stock">
						</div>
						<br />
						<!-- /ko -->
						<button class="oj-button-sm" id="guardarCambios" data-bind="click : edit">Guardar
							Cambios</button>
					</div>
					
					
				</div>								
			</div>
		</div>
	</div>
</div>