<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
  <link href="css/orderEmpleado.css" rel="stylesheet" type="text/css">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Pedidos</h1>
        <div> 
        <table style="margin-left:280px;text-align: center;">
        <caption></caption>
		<div class="scroll">
        <thead style="background-color: #86EAE7; ">
           <tr>
        	<th scope="col">Email</th>
        	<th scope="col">Ciudad</th>
        	<th scope="col">Calle</th>
        	<th scope="col">Cp</th>
        	<th scope="col">PrecioTotal</th>
        	<th scope="col">Estado</th>
        	<th scope="col">Cambiar Estado</th>
         </tr>
        </thead >      
        <tbody>
        <!-- ko foreach : pedidos -->
	       <tr style="justify-content:center; ">       
	        	<td><p id="texto" data-bind="html : email"></p></td>
	        	<td><p id="texto" data-bind="html : ciudad"></p></td>
	        	<td><p id="texto" data-bind="html : calle"></p></td>
	        	<td><p id="texto" data-bind="html : cp"></p></td>
	        	<td><p id="texto" data-bind="html : precioTotal"></p></td>
	        	<td><p id="texto" data-bind="html : state"></p></td>	
	        	<td><oj-button style="margin-left:10px;" chroming="callToAction" class="oj-button-sm" 
	        	data-bind="click : function() { $parent.changeEstado(id); }">Actualizar estado</oj-button></td> 
           </tr>
         <!-- /ko -->
        </tbody>
        </div>
        </table>   
        </div> 
      </div>
    </div>
  </div>
</div>