<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/product.css" rel="stylesheet" type="text/css">
</head>
<header role="banner" class="oj-hybrid-applayout-header">
	<div style="display: flex;">
		<p style="font-weight: bold; margin: 10px 10px 10px;">Añadir
			Producto</p>
		<input type="text" data-bind="value : nombre"
			placeholder="Nombre del producto">&nbsp;&nbsp; <input
			type="text" data-bind="value : codigo"
			placeholder="Codigo del producto">&nbsp;&nbsp; <input
			type="text" data-bind="value : precio" placeholder="Precio">&nbsp;&nbsp;
		<input type="text" data-bind="value : categoria"
			placeholder="Categoria"> &nbsp;&nbsp;&nbsp;
		<div class="file-input">
			<input type="file" id="file" class="file"
				data-bind="event : {change : setImage }"> <label for="file">Select
				file</label>
			<!-- ko if : image -->
			<img data-bind="attr: { src : image}" width="100" height="100">
			<!-- /ko -->
		</div>
		&nbsp;&nbsp;&nbsp;
		<oj-button chroming="callToAction" class="oj-button-sm"
			data-bind="click : add">Guardar producto</oj-button>
		&nbsp;&nbsp;&nbsp;
		<div data-bind="html : message" style="color: blue"></div>
		<div data-bind="html : error" style="color: red"></div>
	</div>
</header>
<body>
	<section class="panel">
		<table>
			<header class="panel-heading">
				<h6>Categorias</h6>
			</header>
			<tbody>
				<div class="categoriasP">
		            <div class="margen2"></div>
				<!-- ko foreach : categorias -->
				<td>
					<div class='img'>				
						<img id="fotoCategoria" data-bind="attr : {src : imagen} , click :  function() { $parent.getProductoCategoria(nombre); }" width="100" height="100" >
						<figcaption class="nombreCategoria" data-bind="html : nombre">
						</figcaption>						
						&nbsp;					
					</div>
				  </td>
				<!-- /ko -->
				</div>
			</tbody>
		</table>
	</section>
	<div class="container">
		<div class="row clearfix">
			<!-- ko foreach : productos -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="boxs project_widget">
					<div class="pw_img">
						<!-- ko if : image -->
						<img data-bind="attr: { src : image}" id="foton">
						<!-- /ko -->
					</div>
					<div class="pw_content">
						<div class="pw_header">
							<h6 id="nombreProducto" data-bind="html : nombre"></h6>
							<a style="text-decoration: none; cursor: default">Codigo :</a> <small
								class="text-muted" id="codigoProducto" data-bind="html : codigo"></small>
							<a style="visibility: hidden" data-bind="html : id"></a>
						</div>
						<div class="pw_meta">
							<span id="precioProducto" data-bind="html : precio"></span> <br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<oj-button chroming="outlined" class="oj-button-sm"
								data-bind="click : function() { $parent.eliminarProducto(id); }">Eliminar</oj-button>

							<oj-button chroming="callToAction" class="oj-button-sm"
								data-bind="click : editar">Editar</oj-button>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</body>
</html>