<!doctype html>
<html lang="en">
<head>
<title>Productos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/product.css" rel="stylesheet" type="text/css">
</head>
<header id="barraSuperior" role="banner" class="oj-hybrid-applayout-header">
	<div  style="display: flex;">
		<p style="font-weight: bold; margin: 10px 10px 10px;">Productos</p>
		<div class="margen"></div>
		<img alt="carrito" src="img/carrefour.png" style="width:auto;height:50px;margin-right:300px;">
		<div data-bind="html : error" style="color: red"></div>
		<img src="img/cart2.png" data-bind="click : mostrarCarrito"
		   id="fotoCategoria" alt="carrito" style="width:50px;height:50px;margin-right:10px;">
		
		 <table id="carrito" data-bind="click : mostrarCarrito">
		 <caption>Carrito</caption>
        	<tr>
        		<th scope="col">Total</th>
        	</tr>
        		<tr>
        			<td id="precioTotal"  data-bind="html : precioCarro"></td><label>€</label>
        		</tr>
        </table>
		&nbsp;&nbsp;&nbsp;
	</div>
</header>
<body>
	<section class="panel">
		<table>
		<caption></caption>
			<header class="panel-heading">
				<h6>Categorias</h6>
			</header>
			<th scope="col"></th>
			<tbody>
				<div class="categoriasP">
				<!-- ko foreach : categorias -->
				<td>
					<div class='img'>
							<img alt="imagen" id="fotoCategoria" data-bind="attr : {src : imagen} , click :  function() { $parent.getProductoCategoria(nombre); }" width="100" height="100" >
							<figcaption class="nombreCategoria" data-bind="html : nombre">
							</figcaption>									
						&nbsp;					
					</div>
					</td>
				<!-- /ko -->
				</div>
			</tbody>
		</table>
	</section>
	<div style="margin-left:10px;margin-top:8px;" >
		<label >Mostrando</label>
		<label id="nProducto"  data-bind="html : nProductos"></label>
		<label>productos</label>
	</div>
	<div class="container">
	<div class="scroll">
		<div class="row clearfix">
			<!-- ko foreach : productos -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="boxs project_widget">
					<div class="pw_img">
						<!-- ko if : image -->
						<img alt="imagen" data-bind="attr: { src : image}" id="foton">
						<!-- /ko -->
					</div>
					<div class="pw_content">
						<div class="pw_header">
							<h6 id="nombreProducto" data-bind="html : nombre"></h6>
							<br/>
							<a style="text-decoration: none; cursor: default">Stock :</a>
							<a  id="codigoProducto" data-bind="html : stock"></a>
							<a  id="codigoProducto">unidades</a>
							<a style="visibility: hidden" data-bind="html : id"></a>
						</div>
						<div class="pw_meta">
							<label id="precioProducto" data-bind="html : precio"></label><label>&euro;</label> <br /><br />
							<oj-button style="margin-left:65px;" chroming="outlined" class="oj-button-sm"
								data-bind="click : function() { $parent.eliminarCarrito(id); }">Eliminar</oj-button>
							<oj-button chroming="callToAction" class="oj-button-sm" data-bind="click : function() { $parent.addAlCarrito(id); }">Carrito</oj-button>
						</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	  </div>
	</div>
</body>
</html>