<!doctype html>
<html lang="en">
<head>
<link href="css/register.css" rel="stylesheet" type="text/css">
</head>
<body>
<body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Recuperar Contrase&ntilde;a</h1>
			</div>

			<div class="login-form">
<!-- 				<div class="control-group"> -->
<!-- 					<input type="password" class="login-field" placeholder="Contrase&ntilde;a actual" -->
<!-- 						data-bind="value : pwd"> -->
<!-- 				</div> -->
				<div class="control-group">
					<input type="password" class="login-field" placeholder="Nueva Contrase&ntilde;a"
						data-bind="value : pwd1">
				</div>
				<div class="control-group">
					<input type="password" class="login-field" placeholder="Repite Nueva Contrase&ntilde;a"
						data-bind="value : pwd2">
				</div>

				<oj-button chroming="callToAction" class="oj-button-lg" id="btnCrearCuenta"
					data-bind="click : setPassword">Guardar Cambios</oj-button>
				<div class="oj-sm-12" data-bind="html : message" style="color: blue"></div>
				<div class="oj-sm-12" data-bind="html : error" style="color: red"></div>
				<div class="text-center mt-3"></div>
			</div>
		</div>
	</div>

</body>
</html>