<link href="css/showCart.css" rel="stylesheet" type="text/css">
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2 style="margin-left:20px;">Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0" style="padding:20px;">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th>Producto </th>&nbsp;&nbsp;&nbsp;
                    <th>Precio</th>&nbsp;&nbsp;&nbsp;
                    <th>Cantidad</th>
                  </tr>
                </thead >
                <tbody >
     			<!-- ko foreach : carrito -->
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <div class="media-body">
                        <img style="margin-left:20px;" id="fotoCategoria" data-bind="attr : {src : image}" width="100" height="100" >
<!--                           <a style="text-align:center;justify-content:center;" data-bind="html : name"></a> -->
                        </div>
                        <br/>
                      </div>
                    </td>&nbsp;&nbsp;&nbsp;
                    <td class="text-right font-weight-semibold align-middle p-4" data-bind="html : precio"></td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td class="align-middle p-4" data-bind="html : amount"></td>
                  </tr>
        		<!-- /ko -->
                </tbody>
              </table>
            </div>
        
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4" style="padding:20px;">
              <div class="d-flex">
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0"><b>Precio Total: </b></label>&nbsp;
                  <label class="text-large" id="precioTotal"><strong></strong></label><label>&euro;</label>
                </div>
              </div>
            </div>
        
            <div class="float-right" style="padding:20px;">
              <oj-button chroming="solid"  data-bind="click : volver">Back to shopping</oj-button>
              <oj-button chroming="callToAction" style="margin-left:50px;" data-bind="click : aPagar">Checkout</oj-button>
            </div>
        
          </div>
      </div>
  </div>