<link href="css/showCart.css" rel="stylesheet" type="text/css">
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2 style="margin-left:20px;">Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <div class="scroll">
              <table class="table table-bordered m-0" style="padding:20px;">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th>Producto </th>&nbsp;
                    <th>Nombre </th>&nbsp;&nbsp;&nbsp;
                    <th>Precio</th>&nbsp;&nbsp;&nbsp;
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                    <th>A&ntilde;adir</th>
                  </tr>
                </thead >
                <tbody > 
     			<!-- ko foreach : carrito -->
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <div class="media-body">
                        <img style="margin-left:20px;border-radius:20px;border-color:black;" id="fotoCategoria" data-bind="attr : {src : image}" width="100" height="100" >
                        </div>                       
                      </div>               
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td style="margin-left:40px;text-align:center;" class="align-middle p-4" data-bind="html : nombre"></td>&nbsp;&nbsp;&nbsp;
                    <td><label style="text-align:center;" class="text-right font-weight-semibold align-middle p-4" data-bind="html : precio"></label><label>&euro;</label></td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
                    <td style="text-align:center;" class="align-middle p-4" data-bind="html : amount"></td>
                    <td><oj-button chroming="solid" class="oj-button-sm"
								data-bind="click : function() { $parent.eliminarCarrito(product.id); }">Eliminar</oj-button></td>
					<td><oj-button style="margin-left:10px;" chroming="callToAction" class="oj-button-sm" data-bind="click : function() { $parent.addAlCarrito(product.id); }">A&ntilde;adir</oj-button></td>
                  </tr>
        		<!-- /ko -->
                </tbody>
              </table>
              </div>
            </div>
        	<br/>
        	<div data-bind="html : error" style="color: red;margin:10px;"></div>
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4" style="margin-left:25px;">
              <div class="d-flex">
                <div class="text-right mt-4">
                  <label><b>Precio Total: </b></label><label class="text-muted font-weight-normal m-0" data-bind="html : precioCarro" ></label>&nbsp;
                  <label class="text-large" id="precioTotal"><strong></strong></label><label>&euro;</label>
                </div>
              </div>
            </div>
            <div class="float-right" style="padding:20px; margin-bottom:500px;">
              <oj-button chroming="solid"  data-bind="click : volver">Back to shopping</oj-button>
              <oj-button id="checkout" chroming="callToAction" style="margin-left:50px;" data-bind="click : aPagar">Checkout</oj-button>
            </div>
        
          </div>
      </div>
  </div>