body{
    margin-top:20px;
   
}
.scroll{
	width:680px;
	height:380px;
	overflow:hidden;
	overflow-y : scroll;
}
.scroll::-webkit-scrollbar{
	width:7px;
}
.scroll::-webkit-scrollbar-thumb{
	background : #ff9d00;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

